In [1]:
#1. KEY FEATURES OF PYTHON
##1. It is easy to learn and use - Python is easy to learn and use as compared to C++ or java. Anyone can learn the basics of python in some days. It does not use curly brackets or semicolons instead it uses indentation for differentiating code blocks.
##2. It is a portable and integrated language - It is one of the most portable languages. It’s cross platform and can run on any operating system such as window , mac , linux.
##3. Easy to read - Because of it’s simple structure and indentation it is easy to read and understand.
##4. It has a dynamic memory allocation - It has a lot of space for storing data. 
##5. It has a lot of libraries

In [2]:
#2.ROLE OF PREDEFINED KEYWORDS
## Keywords hold a special meaning and have specific purpose in python. The purpose of keyword is to define the syntax of the code. There are 35 keywords in python.
##When there is True and False used in a python then it is known as boolean value.
##True = 1 and False = 0.
##When there is nothing it is known as none
##IF - it helps to code decisions  based on some predictions. For example
a = 100
if a > 10:
    print("The number is greater than 10")

The number is greater than 10

In [3]:
##WHILE - it repeatedly executes a block of code until a condition is met. For example
n = 7
i = 1
while i < n:
    print(i)
    i = i + 1

1
2
3
4
5
6

In [4]:
##ELSE- when the if condition is not true then the else condition will be printed.
weather = "rainy"
if weather == "sunny":
    print("I will play cricket")
else:
    print("I will not play cricket")

I will not play cricket

In [5]:
#3. MUTABLE AND IMMUTABLE OBJECTS
##Objects/ container whose state or value can be changed after they are created are called as mutable objects. For example 
##List is a type of mutable object. 
list_cont = [ 1 , 2 , 3 , 4.5 ,5+6j , True]
list_cont

[1, 2, 3, 4.5, (5+6j), True]

In [6]:
list_cont[1]

2

In [7]:
##Objects / container whose state or value can’t be changed after they are created is known as immutable objects For example strings.

In [8]:
#4.OPERATORS IN PYTHON

##ARITHMETIC OPERATORS-
## Used to add , subtract , multiply , divide. For example
a = 5
b = 4
a + b

9

In [9]:
#MODULUS OPERATORS -
##Used to find out the remainder . For example
21 % 4

1

In [10]:
#FLOOR OPERATOR -
##It is used to get the simplest value of decimal form. For example
4/3 ==  1.33333
4 // 3

1

In [11]:
#COMPARISON OPERATOR -
##It compares two values and gives the answer in a boolean form . For example
2 == 2

True

In [12]:
#LOGICAL OPERATOR -
##There are 2 types of logical operators – AND , OR
## AND OPERATOR
True and True - True
True and False - False
False and True - False
False and False - False

##OR OPERATOR
True or True - True
True or False - True
False or True - True 
False or False - False

0

In [13]:
# NOT OPERATOR
##When you run a code -
not True

False

In [14]:
#ASSIGNMENT OPERATOR
##As the name suggests , it assigns the value to the variables. For example
a = 5      
a = a + 5
a = 10

In [15]:
#MEMBERSHIP OPERATOR
##We use this operator when you want to find out that if there is any specific alphabet in the running code. For example
a = "sharon"
"n" in a

True

In [16]:
#IDENTITY OPERATOR
##It compares the value of 2 variables. For example
a = 5
b = 6
a is b

False

In [17]:
#BIT WISE OPERATOR
##It performs operations on but level
##Represents data or integer in the form of a bit. 
bin(10)

'0b1010'

In [18]:
bin(18&3)

'0b10'

In [19]:
#SHIFT OPERATOR
##It shifts the bit either left or right
bin(67)

'0b1000011'

In [20]:
#5. TYPE CASTING
##It is the process of changing the data type of a value or object.
##We use type casting beacuse while xecuting operators, there can be mismatchbetween them.
a = 2
float(a)

2.0

In [21]:
b = 5
str(b)

'5'

In [22]:
c = "2.3"
float(c)

2.3

In [23]:
d = 4.3
int(d)

4

In [24]:
#6. CONDITIONAL STATEMENTS
##It helps to code conditions based on some predictions. 
##IF STATEMENT
weather = "rainy"
if weather == "rainy":
    print("I will not play")

I will not play

In [25]:
a = 100
if a > 0:
    print("The number is greater than 0")

The number is greater than 0

In [26]:
a = 100
if a > 0:
    print("The number is greater than 0")

The number is greater than 0

In [27]:
##IF-ELSE STATEMENT
weather = "rainy"
if weather == "rainy":
    print("i will not play cricket")
else:
    print("i will watch tv")

i will not play cricket

In [28]:
##IF-ELIF-ELSE STATEMENT
a = 200
if a > 200:
    print("the number is printed")
elif a < 200:
    print("the number is not printed")
else:
    print("the number is equal to 200")

the number is equal to 200

In [29]:
#7. LOOP STATEMENTS
##It allows you to execute a block of code repeatedly
##There are 2 types of loop statements

In [30]:
#WHILE LOOP
##It repeatedly executes a block of code until a condition is met.
n = 8
i = 2
while i < n:
    print(i)
    i=i+1

2
3
4
5
6
7

In [31]:
#while else statement
##this will be executed when the 'while' is run successfully without any break
n = 8
i = 2
while i < n:
    print(i)
    i=i+1
else:
    print("this is wrong")

2
3
4
5
6
7
this is wrong

In [32]:
#break statement
##it breaks the loop
n = 8
i = 2
while i < n:
    print(i)
    i=i+1
    if i == 3:
        break

2

In [33]:
#continue statement
##it does not breaks the loop. it ignores the 'if' condition when it is true and keeps the loop going
n = 7
i = 1
while i < n:
    print(i)
    i=i+1
    if i == 3:
        continue

1
2
3
4
5
6

In [34]:
#FOR LOOP STATEMENT
##It tries to access the data in asequence way.
for i in "sharon":
    print(i)

s
h
a
r
o
n

In [35]:
l = [1 , 2 , "sharon" , "aman"]
for i in l:
    print(i)

1
2
sharon
aman